@media screen and (max-width: 700px) {

    .topNav {
        gap: 50vw;
    }

    .topNav .navBar {
        display: none;
    }

    #hamburgerContainer {
        width: 40px;
        height: 50%;
        margin-right: 17px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .navBarMobile {
        position: absolute;
        right: 0;
        top: 80px;
        width: 40vw;
        height: 40vh;
        list-style-type: none;
        background-color: rgba(255, 255, 255, 0.947);
        font-size: 1.7rem;
        padding: 3%;
        direction: rtl;
    }

    .navBarMobile #mobileUl {
        list-style-type: none;
    }

    .navBarMobile #mobileUl li {
        margin-bottom: 20px;
        text-align: center;
    }

    .navBarMobile #mobileUl li a {
        text-decoration: none;
        color: black;
    }


    .hamburger {
        width: 39px;
        height: 5px;
        background-color: #13E8F163;
        border: #0000006d solid 1px;
    }


    #mobileUl {
        text-decoration-line: none;
    }


    .topNav .profile {
        margin-left: 17px;
        text-align: center;
        align-items: center;
        gap: 10px;
    }


    .topNav .profile img {
        margin-top: 0;
        width: 43px;
        height: 43px;
    }

    .topNav .profile li {
        margin: auto;
        margin-top: 10px;
    }


    header {
        height: 331px;
    }

    header .textHeader h1 {
        font: normal normal 900 46px/67px Heebo;
    }

    header .textHeader p {
        font: normal normal medium 15px/25px Heebo;
    }

    .btnContainer button {
        width: 134px;
        height: 26px;
    }

    .btnContainer {
        width: 282px;
        gap: 12px;
    }

    .iconsContainer {
        height: 150px;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
    }

    .firstRowIcons,
    .secondRowIcons {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }


    .iconsContainer br {
        display: block;
    }

    .iconsContainer img {
        width: 46px;
        height: 46px;
    }

    #onMe {
        height: 650px;
    }

    #onMe img {
        top: 612px;
        left: 131px;
        width: 141px;
        height: 139px;
    }

    .textOnMe h2 {
        font: normal normal 900 25px/37px Heebo;
    }

    .textOnMe p {
        top: 840px;
        left: 35px;
        width: 323px;
        height: 200px;
        font: normal normal normal 15px/22px Heebo;
    }

    .textOnMe button {
        width: 135px;
        height: 28px;
        font: normal normal 10px/19px Heebo;
    }

    #projectsContainer {
        height: 3080px;
        padding: 0;
        padding-top: 100px;
    }

    .textProjects h2 {
        font: normal normal 900 25px/37px Heebo;
    }

    .textProjects #mainP {
        width: 60vw;
        margin: auto;
        font: normal normal normal 15px/22px Heebo;
    }

    #projectsContainer .gridContainer {
        width: 350px;
        height: 2838px;
        margin-top: 80px;
        display: block;
        margin-bottom: 81px;
    }

    #projectsContainer .gridContainer .card {
        width: 342px;
        height: 438px;
        margin-bottom: 50px;
    }

    .card img {
        height: 189px;
    }

    .card h3 {
        height: 24px;
        text-align: center;
    }

    .card .pCard {
        width: 298px;
        height: 56px;
        margin-left: 15px;
        font: normal normal normal 14px/22px Heebo;
    }


    .card .iconsCardContainer img {
        width: 22px;
        height: 22px;
    }

    .card button {
        margin-left: 102px;
        margin-top: 21px;
        width: 129px;
        height: 25px;
    }

    #conectsContainer {
        flex-direction: column;
        height: 900px;
    }

    #conectsContainer .letterContainer {
        height: 18%;
        margin-bottom: 70px;
    }

    .letterContainer img {
        width: 50vw;
    }

    #conectsContainer form {
        width: 310px;
        height: 230px;
    }

    #conectsContainer form h3 {
        font: normal normal 900 25px/37px 'Heebo';
        margin-bottom: 5px;
    }

    #conectsContainer form p {
        font: normal normal normal 15px/22px 'Heebo';
        margin-bottom: 25px;
    }

    #conectsContainer form label {
        font: normal normal bold 12px/18px 'Heebo';
    }

    #conectsContainer form input {
        width: 100%;
        height: 28px;
        margin-bottom: 5px;
        font-size: 17px;
    }

    #conectsContainer form textarea {
        font-size: 17px;
    }

    #conectsContainer #submit {
        width: 94px;
        height: 28px;
        font: normal normal bold 12px/16px 'Heebo';
        letter-spacing: 0.18px;
    }

    #conectsContainer #submit:hover {
        width: 98px;
        height: 30px;
    }


    footer {
        height: 428px;
    }

    footer nav {
        top: 5158px;
        left: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }

    footer nav p {
        font: normal normal normal 15px/22px Heebo;
    }

    .underFooter {
        height: 29px;
        gap: 70vw;
    }

    .underFooter p {
        margin-top: 6px;
    }

    .underFooter .leftP {
        font: normal normal normal 9px/13px Heebo;
        letter-spacing: 0.23px;
        margin-left: 8px;
    }

    .underFooter .rightP {
        font: normal normal 300 9px/13px Heebo;
        letter-spacing: 0px;
        margin-right: 8px;
    }
}